* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: black;
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: 400;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.menu {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.loginSignup {
    font-size: large;
    display: flex;
    justify-content: flex-end;
} 
.signup {
    margin-left: 15px;
}


.header-container {
    color: black;
    background-color: #FFF7F0;
    border: 1px solid black;
    display: flex;
    justify-content: center;

}
.header {
    width: 1400px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    height: auto;
    width: 100px;

}
.title { 
}
.linkedIn {
    width: 25px;
    height: 25px;

} 


.main-contact-container {
    border: 1px black;
    background-color: #FFF0FF;
    display: flex;
    justify-content: center;
}
.main-contact {
    display: flex;
    justify-content: space-between;

    
}
.left-side-container {
    border: 1px solid black;
    font-size: 16px;
    padding: 200px;

}
.main-contact-center {
    flex: 2 0 0%;
    width: 400px;
    border: 1px solid black;
    background-color: #FFF7F0;
    font-size: 20px;

}
.right-side-container {
    border: 1px solid black;
    font-size: 16px;
    padding: 200px;
}


.footer-container {
    color: black;
    background-color: #FFF0FF;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.footer {
    border: 1px black;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 50px;
    padding-right: 10px; 
    padding-bottom: 50px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
#footer-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer-address {
    display: flex;
    flex-direction: column;
}
