* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: black;
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: 400;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.menu {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.loginSignup {
    font-size: large;
    display: flex;
    justify-content: flex-end;
} 
.signup {
    margin-left: 15px;
}


.header-container {
    color: black;
    background-color: #FFF7F0;
    border: 1px solid black;
    display: flex;
    justify-content: center;

}
.header {
    width: 1400px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    height: auto;
    width: 100px;

}
.title { 
}
.linkedIn {
    width: 25px;
    height: 25px;
} 


.main-container {
    background-color: #FFF0FF;
    display: flex;
    justify-content: flex-start;
}
.main {
    border: 1px black;
    width: 1300px;
    margin: 15px 5px 15px 5px;
    margin: 15px 5px 15px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bio-container {
    width: 600px; 
    border: 1px black;
    /*margin: 25px; */
    display: flex;
    flex-direction: column;
}
.main-photo-container {
    width: 400px;
    display: flex;
    height: auto;
    width: 400px;
}
h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
button {
    background-color: #FFDCBD;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}
#generic-image {
    height: auto;
    width: 700px;
}



.footer-container {
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.footer {
    border: 1px black;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 50px;
    padding-right: 10px; 
    padding-bottom: 50px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
#footer-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer-address {
    display: flex;
    flex-direction: column;
}
