* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;

}

.headerClass {
    display: flex;
    flex-direction:row; 
    align-items: center; 
    padding-left: 630px;
    background-color: #feac32;
}

#menuID {
    background-color: #e9e9ed;
    margin-left: 500px;
} 

#logoIMG {
    height: auto; 
    width: 150px;
    margin-left: -630px;
    margin-right: 490px;
}

/* rewatch css video about erasing margins so there's no break in between header and body */
.mainContent {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px;
    background-color: #e9e9ed;
}

.indexStyle {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #dfdfe2;

}

.buttonClass {
    background-color: #feac32;
    font-size: 30px;
    border: 4px solid pink;
    
} 
