body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}

.indexStyle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #fcb103;

}

.menuClass {
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: strong;
    background-color: rgb(221, 115, 115);
    border-color: black;
}

.logoIMG {
    height: auto; 
    width: 200px;
}

.buttonClass {
    background-color: blueviolet;
    font-weight: bold;
    font-size: 40px;
} 
